<!DOCTYPE html>
<html>
<head>
<title>Login</title>

<style>

body{
background:#0f2027;
font-family:Arial;
color:white;
display:flex;
justify-content:center;
align-items:center;
height:100vh;
}

.box{
background:#203a43;
padding:40px;
border-radius:10px;
text-align:center;
}

input{
padding:10px;
margin:10px;
width:200px;
}

button{
padding:10px 20px;
background:#ff512f;
border:none;
color:white;
cursor:pointer;
}

a{
color:#ff512f;
}

</style>

</head>

<body>

<div class="box">

<h2>IPL Auction Login</h2>

<form method="POST">

<input name="username" placeholder="Username"><br>
<input type="password" name="password" placeholder="Password"><br>

<button>Login</button>

</form>

<p>Don't have account? <a href="/register">Register</a></p>

</div>

</body>
</html>
