<th>Player</th>
<th>Country</th>
<th>Role</th>
<th>Base Price</th>
<th>Current Bid</th>
<th>Highest Bidder</th>
<th>Bid</th>

{% for p in players %}

<tr>

<td class="player">{{p[1]}}</td>
<td>{{p[2]}}</td>
<td class="role">{{p[3]}}</td>
<td>₹ {{p[4]}} L</td>
<td class="price">₹ {{p[5]}} L</td>
<td>{{p[6]}}</td>

<td>

<form action="/bid/{{p[0]}}" method="post">

<input type="text" name="team" placeholder="Team Name" required>

<input type="number" name="bid" required>

<button type="submit">Bid</button>

</form>

</td>

</tr>

{% endfor %}
